
hw4/task4/previous/rivergames.py
hw4/task4/previous/rivergames_logic.py
hw4/task4/previous/rivergames_new.py
hw4/task4/previous/rivergames_new2.py
hw4/task4/Рыбы победили медведей.docx
hw4/task4/__pycache__/class_animal_bear_fish.cpython-37.pyc
hw4/task4/__pycache__/class_river.cpython-37.pyc
hw4/task4/__pycache__/rivergames_logic.cpython-37.pyc
